/* roboto-100 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/roboto-v20-latin_cyrillic-100.eot"); /* IE9 Compat Modes */
  src: local("Roboto Thin"), local("Roboto-Thin"),
    /* IE6-IE8 */ url("./fonts/roboto-v20-latin_cyrillic-100.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v20-latin_cyrillic-100.woff") format("woff");
      font-display: swap;
}
/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/roboto-v20-latin_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"),
    /* IE6-IE8 */ url("./fonts/roboto-v20-latin_cyrillic-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v20-latin_cyrillic-300.woff") format("woff");
      font-display: swap;
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v20-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    /* IE6-IE8 */ url("./fonts/roboto-v20-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
      font-display: swap;
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/roboto-v20-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    /* IE6-IE8 */ url("./fonts/roboto-v20-latin_cyrillic-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
      font-display: swap;
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/roboto-v20-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    /* IE6-IE8 */ url("./fonts/roboto-v20-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
      font-display: swap;
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/roboto-v20-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    /* IE6-IE8 */ url("./fonts/roboto-v20-latin_cyrillic-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./fonts/roboto-v20-latin_cyrillic-900.woff") format("woff");
      font-display: swap;
}
@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?uq33yz');
  src:  url('./fonts/icomoon.eot?uq33yz#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?uq33yz') format('truetype'),
    url('./fonts/icomoon.woff?uq33yz') format('woff'),
    url('./fonts/icomoon.svg?uq33yz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}