html {
	overflow-x: hidden;

	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: Roboto, sans-serif; /*под проект*/
	font-size: 16px;
	overflow-x: hidden;
	margin: 0;
	color: black;
	background-color: #fbfbfb; /*под проект*/
}

img {
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
	scroll-behavior: smooth;
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

.visually-hidden {
	clip: rect(1px 1px 1px 1px);
	padding: 0 !important;
	border: 0 !important;
}

.clearfix::after {
	display: table;
	clear: both;

	content: "";
}

.fixed-container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 40px;
}
.lock {
	overflow: hidden;
	position: fixed;
	width: 100%;
}
.header {
	
padding-top: 28px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-container{
    
display: none;
}
.burger {
	display: none;
	background-repeat: no-repeat;
	background-size: contain;
	flex-grow: 1;
	transition: all 0.2s;
	position: relative;
}
.burger__span {
    width: 100%;
    height: 6px;
    position: absolute;
    left: 0;
    top: calc(50% + -3.0px);
    transition: all 0.2s;
    background: linear-gradient(13deg,#ff8262 26%,#ff4688 73%);
}
.burger::before,
.burger::after{
 content: "";
 width: 100%;
 height: 6px;
 position: absolute;
 left: 0;
 transition: all 0.2s;
 background: linear-gradient(13deg,#ff8f5a 26%,#ff8262 73%);
}
.burger::before {
    top: 0;
    background: linear-gradient(13deg,#ff4688 26%,#ff2f96 73%);
}
.burger::after {
    bottom: 0;
}
.burger-active span {
    transform: scale(0);
    transition: 0.2s;
}
.burger-active::before {
    top: 13px;
    transform: rotate(45deg);
}
.burger-active::after {
    bottom: 13px;
    transform: rotate(-45deg);
}
.tel-icon {
	transition: all 0.2s;
}

.tel-icon:active {
	transform: translate(0, 2px);
}
.header__list {
	flex-grow: 1;
}
.header__list-item {
	position: relative;

	display: inline;

	margin-right: 28px;
}
.header__list-item a:hover {
	transition: color 0.2s;
	color: #fc557c;
}
.header__list-item a:hover::after {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 1px;
	opacity: 1;
	content: "";
	background: #fc557c;
	transition: opasity 0.2s;
}
.tel-icon {
	display: none;
}

.header__list-item a:hover {
	color: #fc557c;
}

.header__right {
	display: flex;

	align-items: center;
}
.header__tel {
	font-size: 25px;
	font-weight: 700;
	line-height: 54px;

	margin-right: 30px;

	color: #1f1f24;
}
.header__tel:hover {
	color: #f53f4f;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 21;
	width: 100vw;
	height: 100%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 0.3s;
	overflow-y: scroll;
}
.callForm label {
	font-size: 0;
}
.popup__header {
	font-size: 27px;
	margin-bottom: 20px;
}
.popup__input {
	font-size: 16px;
	display: block;

	margin-bottom: 20px;

	padding: 13px;

	background: #fff;

	outline: none;

	border: solid 1px #dad9d9;
}
.popup__button {
	margin-top: 54px;
	display: block;
	padding: 13px 64px;
	cursor: pointer;
	color: #f53f4f;
	border: 1px solid #f82370;
	background-color: #fbfbfb;
	transition: color 0.3s;
}
.popup__button:hover {
	color: #fbfbfb;
	border: solid 1px #ff4e2e;
	background-color: #ff4e2e;
}

.popup__container {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 500px;
	width: 80%;
	background-color: #fbfbfb;
	z-index: 22;
	position: absolute;
	padding: 20px 20px 40px 20px;
	background-color: #fbfbfb;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* overflow-y: scroll; */
}
.header__link,
.social__link {
	padding: 13px 40px;
	cursor: pointer;
	color: #f53f4f;
	border: 1px solid #f82370;
	background-color: #fbfbfb;
	outline: none;
	transition: all 0.2s;
}
.header__link:hover {
	color: #fbfbfb;
	background-color: #ff4e2e;
	outline: none;
	transition: all 0.2s;
}

.social__link:hover {
	color: #fbfbfb;
	background-color: #ff4e2e;
}
.main {
	margin-bottom: 65px;
}

.intro {
	position: relative;

	overflow: hidden;

	min-height: 630px;
	margin-top: 60px;
	margin-bottom: 87px;

	background: url(../img/Ellipse_1.svg) no-repeat;
	background-position: 100% 100%;
	background-size: contain;
}
.intro__photo {
	position: absolute;
	top: -30px;
	right: calc(50vw - 200px - 562px);
	height: 660px;
}
.intro__container {
	display: flex;
	flex-direction: column;

	margin-top: 144px;

	align-items: flex-start;
}
.intro__decoration {
	font-size: 3vw;
	font-weight: bold;

	position: absolute;
	z-index: -20;
	right: 0;
	bottom: 0;

	animation: intro__decoration2 1s 1 ease forwards;

	background: linear-gradient(45deg, #ff8f5a 26%, #ff2f96 73%);
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}
.dec1 {
	animation: intro__decoration-wide1 1s 1 ease forwards;

	background: linear-gradient(45deg, #ff8f5a 26%, #ff2f96 73%);
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}
.dec2 {
	animation: intro__decoration-wide2 1s 1 ease forwards;

	background: linear-gradient(45deg, #ff8f5a 26%, #ff2f96 73%);
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}
.dec3 {
	animation: intro__decoration-wide3 1s 1 ease forwards;

	background: linear-gradient(-45deg, #ff8f5a 26%, #ff2f96 73%);
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}
.dec4 {
	animation: intro__decoration-wide4 1s 1 ease forwards;

	background: linear-gradient(45deg, #ff8f5a 26%, #ff2f96 73%);
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}
.dec5 {
	animation: intro__decoration-wide5 1s 1 ease forwards;

	background: linear-gradient(45deg, #ff8f5a 26%, #ff2f96 73%);
	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
}

.intro-mobile {
	display: none;
}
.svg-pad {
	display: none;
}
.svg-desktop {
	position: absolute;
	z-index: -10;
	right: -6%;
	bottom: -135px;
}
.intro__header {
	font-size: 80px;
	font-weight: 900;
	line-height: 104px;
}

.intro__description {
	font-size: 25px;

	margin-top: 12px;
	margin-bottom: 44px;

	color: #8993ad;
}
.intro__link {
	font-size: 18px;

	padding: 20px 71px;

	cursor: pointer;

	color: #f53f4f;
	border: 1px solid #f82370;
	background-color: #fbfbfb;
}
.intro__link:hover {
	color: #fbfbfb;
	background: #ff4e2e;
}
.intro__img {
	position: absolute;
}
.description {
	margin-bottom: 194px;
}
.description__header {
	font-size: 54px;

	margin-bottom: 88px;

	text-align: center;
}

.description__list {
	display: flex;

	margin-bottom: 14px;

	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.description__list-first,
.description__list-second {
	display: flex;

	margin-bottom: 80px;

	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
}
.description__item {
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;

	padding-top: 90px;

	text-align: center;

	color: #8993ad;
	background-repeat: no-repeat;
	background-position: top center;
}
.description__list-first .description__item:nth-child(1) {
	width: 290px;

	background-image: url(../img/tools-and-utensils.png);
}
.description__list-first .description__item:nth-child(2) {
	width: 290px;

	background-image: url(../img/responsive.png);
}
.description__list-second .description__item:nth-child(1) {
	width: 290px;

	background-image: url(../img/programming.png);
}
.description__list-second .description__item:nth-child(2) {
	width: 290px;

	background-image: url(../img/coding.png);
}
.description__link {
	font-size: 18px;

	display: block;

	width: 270px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;

	cursor: pointer;
	text-align: center;

	color: #f53f4f;
	border: 1px solid #f82370;
	background-color: #fbfbfb;
}
.description__link:hover {
	color: #fbfbfb;
	background: #ff4e2e;
}
.examples {
	margin-bottom: 100px;
}
.examples.fixed-container {
	padding: 0 6px;
}
.exaples__header {
	font-size: 54px;
	font-weight: 700;
	line-height: 59px;

	margin-bottom: 103px;

	text-align: center;

	color: #262626;
}
.slider__frame {
	margin-bottom: 90px;
}

.examples__slider {
	position: relative;


	margin: 0 14px;
}
.slick-slider {
	overflow: hidden;
}



.slick-track {
	display: flex;
}






.slider .slick-arrow.slick-prev {
	position: absolute;
	z-index: 10;
	top: 34%;
	left: -15px;
	width: 61px;
	height: 60px;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
	background-image: url(../img/arrow.png);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
}
.slider .slick-arrow.slick-next {
	position: absolute;
	top: 34%;
	right: -15px;
	width: 61px;
	height: 60px;
	cursor: pointer;
	transform: rotate(180deg);
	border: none;
	border-radius: 50%;
	outline: none;
	background-image: url(../img/arrow.png);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
}

.slick-dots {
	display: none;
}


.slick-dots li button {
	display: none;
}

.slider__item {
	overflow: hidden;

	width: 282px;

	margin: 0 9px;

	outline: none;


	flex-shrink: 0;
}
.slider__item a {
	outline: none;
}
.slider__item img {
	display: block;
	margin: 0 auto;
}
.slider__item-text {
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;

	margin-top: 27px;

	text-align: center;

	color: #8993ad;
}
.exapmles_link {
	font-size: 18px;

	display: block;

	width: 270px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;

	cursor: pointer;
	text-align: center;

	color: #f53f4f;
	border: 1px solid #f82370;
	background-color: #fbfbfb;
}
.exapmles_link:hover {
	color: #fbfbfb;
	background: #ff4e2e;
}
.outro {
	padding-top: 75px;
	padding-bottom: 80px;
	background-image: linear-gradient(13deg, #ff8f5a 26%, #ff2f96 73%);
	position: relative;
}
.outro__decoration1,
.outro__decoration2,
.outro__decoration3,
.outro__decoration4,
.outro__decoration5 {
    color: #fff;
    position: absolute;
    font-weight: 700;
}
.outro__decoration1 {transform: translate(calc(50vw - 824px), -203px) scale(3) rotate(24deg);/* top: 0px; */}
.outro__decoration2 {transform: translate(calc(50vw + 707px), -194px) scale(2.5) rotate(-25deg);}
.outro__decoration3 {transform: translate(calc(50vw + 483px),33px) scale(2.5) rotate(23deg);}
.outro__decoration4 {transform: translate(calc(50vw - 711px),-8px) scale(4) rotate(16deg);}
.outro__decoration5 {transform: translate(calc(50vw + 814px),-6px) scale(3) rotate(-18deg);content: "";}

.outro__header {
	font-size: 45px;
	font-weight: 700;
	line-height: 60px;

	max-width: 942px;
	margin: 0 auto;
	margin-bottom: 30px;

	color: #fff;
}
.outro__description {
	font-weight: 500;
	line-height: 30px;

	max-width: 942px;
	margin: 0 auto;

	color: #fff;
}

.footer__container {
	display: flex;

	margin-bottom: 73px;
	padding-right: 20px;

	justify-content: space-between;
	align-items: center;
}

.footer__links-item {
	font-size: 18px;
	font-weight: 500;
	line-height: 33px;

	color: #8993ad;
}
.footer__links-item a:hover {
	text-decoration: underline;
}

.footer__contacts-item {
	font-size: 25px;
	font-weight: 500;
	line-height: 59px;

	padding-left: 35px;
}
.footer__contacts-item a:hover {
	color: #f53f4f;
}

.social__link {
	line-height: 17px;

	margin-top: 9px;
	padding: 13px 59px 14px;

	cursor: pointer;
}
.social__list {
	display: flex;

	max-width: 250px;
	margin-top: 31px;
	margin-right: 50px;

	justify-content: space-between;
}
.social__list a {
	transition: 0.3s;
}
.social__list a:hover {
	transform: translateY(-2px);
	transition: 0.3s;
}

.social-vk {
	display: inline-block;

	width: 35px;
	height: 30px;

	background-image: url(../img/iconsprite.png);
	background-repeat: no-repeat;
	background-position: 0 5px;
}
.social-facebook {
	display: inline-block;

	width: 35px;
	height: 30px;

	background-image: url(../img/iconsprite.png);
	background-repeat: no-repeat;
	background-position: 0 -30px;
}
.social-twitter {
	display: inline-block;

	width: 35px;
	height: 30px;

	background-image: url(../img/iconsprite.png);
	background-repeat: no-repeat;
	background-position: 0 -68px;
}
.social-inst {
	display: inline-block;

	width: 35px;
	height: 30px;

	background-image: url(../img/iconsprite.png);
	background-repeat: no-repeat;
	background-position: 0 -105px;
}
.footer__text {
	font-size: 16px;
	font-weight: 500;
	line-height: 59px;

	padding-top: 10px;
	padding-bottom: 10px;

	text-align: center;

	color: #fff;
	background-color: #31293c;
}
.contacts__tel-span::before {
	font-family: "icomoon";

	content: "\e940 \ ";

	color: #f82370;
}
.contacts__mail-span::before {
	font-family: "icomoon";

	content: "\e945 \ ";

	color: #f82370;
}
@media (max-width: 1500px) and (min-width: 1023px) {
	body {
		overflow-x: hidden;
	}
	.fixed-container {
		max-width: 1024px;
	}
    .burger-container {
        display: block;
        flex-grow: 1;
    }

	.burger-open {
		box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
		display: flex !important;
		flex-direction: column;
		align-items: start;
		position: absolute;
		top: 80px;
		background-color: #fbfbfb;
		z-index: 20;
		padding-bottom: 10px;
		margin: 0 auto;
		opacity: 0;
	}
	.header {
	padding-top: 28px;
	padding-top: 28px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 21;
	background-color: #fbfbfb;
	transition: 0.2s;
	}
    .header-pad {
        position: fixed;
        width: 100%;
        padding-top: 0px;
        top: 0;
        z-index: 21;
        transition: 0.2s;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }
    .header__link-pad {
        padding: 7px 40px;
    }
    .header__list-pad {
        top: 54px;
    }
    .main-pad {
        margin-top: 143px;
    }
	.header__list {
		position: absolute;
		display: none;
		flex-grow: 1;
	}
	.header__list-item {
		margin: 19px 20px;
		flex-grow: 0;
		font-size: 20px;
		display: inline-block;
	}
	.burger {
		display: inline-block;
		width: 45px;
		height: 32px;
		flex-grow: 1;
	}
	.main {
		padding-top: 0;
	}
	.intro {
		min-height: 631px;

		background: url(../img/svg-pad.svg) 47vw 100px no-repeat;
	}
	.intro__container {
		margin-top: 153px;
	}
	.intro__description {
		margin-top: 2px;
		margin-bottom: 47px;
	}
	.intro__photo {
		right: -5%;
	}
	.dec1 {
		animation: intro__decoration-medium1 1s 1 ease forwards;
	}
	.dec2 {
		animation: intro__decoration-medium2 1s 1 ease forwards;
	}
	.dec3 {
		animation: intro__decoration-medium3 1s 1 ease forwards;
	}
	.dec4 {
		animation: intro__decoration-medium4 1s 1 ease forwards;
	}
	.dec5 {
		animation: intro__decoration-medium5 1s 1 ease forwards;
	}
	.dec6 {
		display: none;
	}
	.intro__decoration {
		font-size: calc(20px + 2vw);
	}
	.svg-desktop {
		display: none;
	}
	.svg-pad {
		position: absolute;
		z-index: -10;
		right: -6%;
		bottom: -135px;

		display: block;
	}
	.intro__header {
		font-size: 54px;
		font-weight: 900;
		line-height: 104px;
	}
	.intro__link {
		padding: 24px 96px;
	}
	.description__header {
		margin-right: 27px;
	}
	.description__list {
		margin-bottom: 14px;
	}
	.description__link {
		width: 320px;
		padding-top: 25px;
		padding-bottom: 23px;
	}
	.description {
		margin-bottom: 195px;
	}
	.slider .slick-arrow.slick-prev {
		position: absolute;
		z-index: 10;
		top: 34%;
		left: -15px;

		width: 61px;
		height: 60px;

		cursor: pointer;

		border: none;
		border-radius: 50%;
		outline: none;
		background-image: url(../img/arrow.png);
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
	}
	.slider .slick-arrow.slick-next {
		position: absolute;
		top: 34%;
		right: -17px;

		width: 61px;
		height: 60px;

		cursor: pointer;
		transform: rotate(180deg);

		border: none;
		border-radius: 50%;
		outline: none;
		background-image: url(../img/arrow.png);
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
	}

	.slick-dots {
		display: flex;

		margin-top: 99px;

		justify-content: center;
	}
	.slick-dots li {
		width: 18px;
		height: 18px;
		margin: 0 5px;

		border-radius: 50%;
		background-color: #ebebeb;
	}
	.slick-dots li.slick-active {
		background-color: #ff4e2e;
	}
	.examples__slider {
	}
	.slider__item {
		width: 450px;
		margin: 0;
		padding: 0 18px;
	}
	.slider__item img {
		min-width: 100%;
	}
	.slider__item-text {
		font-size: 25px;

		margin-top: 13px;
	}

	.nav-circles {
		max-width: 124px;
		margin: 0 auto;
		margin-top: 98px;
	}
	.nav-circle {
		display: inline-block;

		width: 18px;
		height: 18px;
		margin: 0 5px;

		border-radius: 50%;
		background-color: #ebebeb;
	}
	.slider-checked {
		background-color: #ff4e2e;
	}
	.exapmles_link {
		width: 318px;
		padding-top: 24px;
		padding-bottom: 21px;
    }
    .outro__decoration1,
.outro__decoration2,
.outro__decoration3,
.outro__decoration4,
.outro__decoration5{
    display: none;
}
	.main {
		margin-bottom: 89px;
		margin-top: 143px;
	}
	.footer__container {
		margin-bottom: 75px;
		padding-right: 0;
	}
	.footer__social {
		padding-top: 10px;
	}
}
@media (max-width: 1239px) and (min-width: 800px) {
	.description__item {
		margin: 0 50px;
	}
}
@media (max-width: 1023px) and (min-width: 320px) {

	body {
		overflow-x: hidden;
	}
	.fixed-container {
		padding: 0 20px;
	}
	.header {
		
    }
    .header__container{
        position: fixed;
		z-index: 20;
		width: 100%;
		top: 0;
		margin-top: 0;
		background: #fbfbfb;
    }
	.header__list-item {
		margin: 5px;
	}
    .burger-container {
        display: block;
    }
	.burger {
		display: block;
		width: 24px;
		height: 18px;
		flex-grow: 0;
    }
    .burger::before, .burger::after {
        height: 4px;
    }
    .burger-active::before{
        top: 7px;
    }
    .burger-active::after{
        bottom: 7px;
    }
    .burger span {
        height: 4px;
        top: 7px;
    }
	.intro {
		margin-top: 0;
	}
	.for-desktop {
		display: none;
	}
	.intro__photo {
		top: auto;
		bottom: 0;
		left: calc(50% - 106px);

		height: 342px;
	}

	.intro__decoration-widescreen {
		display: none;
	}
	.intro__decoration {
		font-size: calc(20px + 3vw);

		right: 50%;
	}
	.svg-desktop {
		display: none;
	}

	.dec1 {
		animation: intro__decoration1 1s 1 ease forwards;
	}
	.dec2 {
		animation: intro__decoration2 1s 1 ease forwards;
	}
	.dec3 {
		animation: intro__decoration3 1s 1 ease forwards;
	}
	.dec4 {
		animation: intro__decoration4 1s 1 ease forwards;
	}
	.header__list {
		display: none;
	}
	.header__list-item {
		margin: 19px 20px;
		font-size: 20px;
		display: block;
	}
	.burger-open {
		box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
		display: block !important;
		flex-direction: column;
		position: absolute;
		top: 43px;
		background-color: #fbfbfb;
		z-index: -1;
		padding-bottom: 10px;
		opacity: 0;
	}
	.header__list-item a:hover::after {
		position: absolute;
		bottom: -1px;
		left: 0;
		width: auto;
		height: 1px;
		content: "";
		background: #fc557c;
	}
	.header__right {
		display: flex;

		justify-content: space-between;
	}
	.header__tel {
		font-size: calc(10px + 1.5vw);
		margin-right: 0;
	}
	.tel-icon {
		display: block;

		width: 26px;
		height: 26px;

		background-image: url(../img/call_answer.png);
	}
	.header__link {
		display: none;
	}
	.main {
		margin-bottom: 40px;
		padding-top: 0;
	}
	.intro {
		margin-bottom: 43px;
		padding-top: 0;

		background-image: none;
	}
	.intro-mobile {
		position: relative;

		display: block;

		width: 100vw;
		height: 455px;

		background: url(../img/svg-desktop.svg) 40% 163px no-repeat;
		background-size: 491px auto;
	}
	.intro__container {
		margin-top: 0;

		align-items: center;
	}
	.intro__header {
		font-size: calc(24px + 2vw);
		line-height: normal;

		margin-top: 13px;

		text-align: center;
	}
	.intro__description {
		font-size: calc(10px + 2vw);

		margin-top: 10px;
		margin-bottom: 32px;

		text-align: center;
	}
	.intro__link {
		display: block;

		max-width: 280px;
		margin: 0 auto;
		padding: 17px 75px;

		text-align: center;
	}
	.description__header {
		font-size: calc(24px + 2vw);

		margin-bottom: 43px;
	}

	.description__list-first {
		flex-direction: column;

		margin-bottom: 0;
	}
	.description__item {
		font-size: 16px;

		margin-bottom: 42px;
		padding-top: 67px;

		background-size: 22%;
	}
	.description__list-second {
		flex-direction: column;

		margin-bottom: 0;
	}
	.description__list {
		margin-bottom: 8px;
	}
	.description__link {
		width: 279px;
		padding-top: 16px;
		padding-bottom: 17px;
	}
	.description {
		margin-bottom: 91px;
	}
	.examples {
		margin-bottom: 51px;
	}
	.exaples__header {
		font-size: calc(24px + 2vw);
		line-height: 38px;

		margin-bottom: 38px;
	}
	.examples__slider {
		height: 330px;
	}
	.slider__frame {
		margin-bottom: 63px;
	}
	.slider .slick-arrow.slick-prev {
		position: absolute;
		z-index: 10;
		top: 34%;
		left: -15px;
		display: none;
		width: 61px;
		height: 60px;
		cursor: pointer;
		border: none;
		border-radius: 50%;
		outline: none;
		background-image: url(../img/arrow.png);
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
	}
	.slider .slick-arrow.slick-next {
		position: absolute;
		top: 34%;
		right: -17px;

		display: none;

		width: 61px;
		height: 60px;

		cursor: pointer;
		transform: rotate(180deg);

		border: none;
		border-radius: 50%;
		outline: none;
		background-image: url(../img/arrow.png);
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
	}
	.slick-arrow.slick-disabled {
	}
	.slick-dots {
		display: flex;

		margin-top: 9px;
		margin-bottom: 28px;

		justify-content: center;
	}
	.slick-dots li {
		width: 10px;
		height: 10px;
		margin: 0 5px;

		border-radius: 50%;
		background-color: #ebebeb;
	}
	.slick-dots li.slick-active {
		background-color: #ff4e2e;
	}
	.slick-dots li button {
		display: none;
	}

	.slider__item img {
		width: 319px;
		max-width: 500px;
	}
	.slider__item-text {
		font-size: 18px;

		margin-top: 10px;
	}
	.slide__arrow-left {
		display: none;
	}
	.slide__arrow-right {
		display: none;
	}

	.slider__item img {
		display: block;

		margin: 0 auto;
	}

	.exapmles_link {
		width: 279px;
		padding-top: 17px;
		padding-bottom: 16px;
	}
	.outro {
		padding-top: 40px;
		padding-bottom: 42px;
    }
    .outro__decoration1,
.outro__decoration2,
.outro__decoration3,
.outro__decoration4,
.outro__decoration5{
    display: none;
}
	.outro__header {
		font-size: 28px;
		line-height: 40px;

		margin-bottom: 34px;
	}
	.star {
	}
	.outro__description {
		display: block;

		padding-left: 14px;

		text-indent: -12px;
	}
	.outro__description-main {
		font-size: 15px;

		width: 90%;
		padding-left: 0;

		text-align: left;
	}

	.footer__container {
		flex-direction: column;

		margin-bottom: 44px;
		padding-right: 0;

		align-items: flex-start;
	}
	.footer__links {
		margin-bottom: 20px;
	}
	.footer__links-item {
		font-size: 15px;
	}
	.footer__contacts {
		font-size: 33px;

		margin-bottom: 15px;
	}
	.footer__contacts-item {
		font-size: 20px;
		line-height: 45px;

		padding-left: 0;
	}
	.social__list {
		margin-top: 50px;
		margin-right: 78px;
	}
	.social__link {
		padding: 17px 23.5vw;
	}
	.social__link:hover {
		color: #fff;
		background-color: #ff4e2e;
	}
	.footer__text {
		font-size: 12px;
		line-height: 54px;

		padding-top: 0;
	}
}
@keyframes intro__decoration1 {
	0% {
	}
	100% {
		transform: translate(calc(-27vw + 0px), -336px) rotate(30deg) scale(0.9);
	}
}

@keyframes intro__decoration2 {
	0% {
	}
	100% {
		transform: translate(46px, -359px) rotate(-28deg) scale(0.7);
	}
}

@keyframes intro__decoration3 {
	0% {
	}
	100% {
		transform: translate(44vw, -295px) rotate(20deg) scale(0.6);
	}
}

@keyframes intro__decoration4 {
	0% {
	}
	100% {
		transform: translate(-33vw, -227px) rotate(15deg);
	}
}

@keyframes intro__decoration-wide1 {
	0% {
	}
	100% {
		transform: translate(calc(-135px - 83vw), -575px) rotate(30deg) scale(0.8);
	}
}

@keyframes intro__decoration-wide2 {
	0% {
	}
	100% {
		transform: translate(calc(-889px - 30vw), -7vh) rotate(-22deg) scale(0.7);
	}
}

@keyframes intro__decoration-wide3 {
	0% {
	}
	100% {
		transform: translate(calc(-444px - 30vw), -554px) rotate(-14deg) scale(0.5);
	}
}

@keyframes intro__decoration-wide4 {
	0% {
	}
	100% {
		transform: translate(calc(-653px - 50vw), -340px) rotate(15deg);
	}
}

@keyframes intro__decoration-wide5 {
	0% {
	}
	100% {
		transform: translate(calc(115px - 50vw), -175px) rotate(21deg) scale(0.7);
	}
}

@keyframes intro__decoration-medium1 {
	0% {
	}
	100% {
		transform: translate(-906px, -563px) rotate(30deg) scale(1.2);
	}
}

@keyframes intro__decoration-medium2 {
	0% {
	}
	100% {
		transform: translate(-539px, -489px) rotate(14deg) scale(1.2);
	}
}

@keyframes intro__decoration-medium3 {
	0% {
	}
	100% {
		transform: translate(-52px, -582px) rotate(-14deg) scale(0.75);
	}
}

@keyframes intro__decoration-medium4 {
	0% {
	}
	100% {
		transform: translate(-936px, -86px) rotate(15deg) scale(1.5);
	}
}
@keyframes intro__decoration-medium5 {
	0% {
	}
	100% {
		transform: translate(-610px, -141px) rotate(-20deg);
	}
}
